@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
font-family: 'Montserrat', sans-serif;
background: #fbfbf5;
color:  #595250  ;
scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color:  #d7978e;
}


 
/*navbar*/
.logo{
   float: right;
   width: 120px;
   
  
}

#navbar a {
  color:#d75551 ;
}

#navbar ul 
{
  list-style: none;
  text-transform: uppercase;
  float: left;
}
#navbar ul li
{
  float: left;
}
#navbar ul li a{
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover{
  background-color: #dac3bb;
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
  
}