.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 0px;
    perspective: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contacto-responsable{
    display: flex;
    top: 30px;
    justify-content: center; 
  }
  
.imagen_social
{
 max-width:40px;
 max-height:40px;
 float: right; 
 margin-top: 10px;
 margin-bottom: 50px;
 margin-right: 20px;

 
  }